.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home_sign_in{
  padding-left: 1vh;
  padding-right: 1vh;
  color: white;
  text-decoration: none;
  border: 0.1px white solid;
  border-radius:15px 0px 0px 15px;
}

.Home_log_out{
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
  font-size: x-large;
  color: white;
  background:none;
  text-decoration: none;
  border: 0.1px white solid;
  border-radius:15px 0px 0px 15px;
}

.Home_sign_up{
  padding-right: 1vh;
  padding-left: 1vh;
  color: white;
  text-decoration: none;
  border: 0.1px white solid;
  border-radius:0px 15px 15px 0px;
}
.Home_Refresh{
  color: white;
  background: none;
  text-decoration: none;
  border: none;
}
.Home_settings{
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-top: 0.6vh;
  padding-bottom: 0.8vh;
  color: white;
  font-size: x-large;
  text-decoration: none;
  border: 0.1px white solid;
  border-radius:0px 15px 15px 0px;
}
.forms_home{
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
  font-size: medium;
  color: white;
  background:none;
  text-decoration: none;
  border: 0.1px white solid;
  border-radius:15px 0px 0px 15px;
}
.forms{
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
  font-size: medium;
  color: white;
  background:none;
  text-decoration: none;
  border: 0.1px white solid;
  border-radius:0px 15px 15px 0px;
}

.Home_sign_in:hover{
  background:#4199b1;
}
.Home_log_out:hover{
  background:#4199b1;
}
.Home_sign_up:hover{
  background:#4199b1;
}
.Home_settings:hover{
  background:#4199b1; 
}
.forms:hover{
  background:#4199b1; 
}
.forms_home:hover{
  background:#4199b1; 
}
.title-all{
  font-size:2em;
}
.small-title{
  font-size:xx-large;
}
.inputer{
  
  border: none;
  box-sizing: border-box;
  color: white;
  border-bottom: 1px white solid;
  background: none;
  box-shadow: none;
}
.inputer:focus{
  outline: none;
}
.error{
  color: red;
}
.Log_Reg_submit{
  border: none;
  color: white;
  background: none;
  border: white 0.5px solid;
  border-radius: 1vh;
  padding: 0.3vh 0.8vh 0.3vh 0.8vh;
  margin-top: 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
}

.Log_Reg_submit:hover{
  background:#4199b1;
}
.dot_on {
  height: 25px;
  width: 25px;
  background-color: rgb(60, 255, 0);
  border-radius: 50%;
  display: inline-block;
}
.dot_off {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
}
.plus_button{
  border: none;
  color: white;
  background: none;
  border-radius: 1vh;
  padding-bottom: 0.35vh;
  margin-top: 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.tasks{
  list-style-type:none;
}

li.task{
  margin-bottom: 3vh;
  width: auto;
  border-bottom: 1px solid #333842;
}